@page "/Person/Detail/{Id?}"
@inherits PersonDetailPageModel

<h3>Details</h3>


<div class="col-auto" style="padding:4px,10px,2px,10px">
    <div class="row">
        <div class="col border border-dark col-4">
            Id
        </div>
        <div class="col border border-dark col-2">
            First name
        </div>
        <div class="col border border-dark col-2">
            Middle name
        </div>
        <div class="col border border-dark col-2">
            Last name
        </div>
    </div>
    @if (CurrentUser != null)
    {
        <div class="row">
            <div class="col border border-dark col-4">
                @CurrentUser.Id
            </div>
            <div class="col border border-dark col-2">
                @CurrentUser.FirstName
            </div>
            <div class="col border border-dark col-2">
                @CurrentUser.MiddleName
            </div>
            <div class="col border border-dark col-2">
                @CurrentUser.LastName
            </div>

        </div>

    }
</div>